$color-background: #515768;
$color-shade-1: #454a58;
$color-shade-2: #555b6b;
$color-background-shade-1: #494e5e;
$color-background-shade-2: #575d6f;
$color-text: #ffffffde;
$color-rating: #ffa500;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: $color-text;
	background-color: $color-background;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	margin-top: 5%;
}

.card-wrapper {
	max-width: 550px;
	margin: 0 auto;
	padding: 0 20px;
}

.card {
	border-radius: 50px;
	background: $color-background;
	box-shadow:
		20px 20px 60px $color-shade-1,
		-20px -20px 60px $color-shade-2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&-image {
		width: 300px;
		height: 300px;
	}

	&-content {
		padding: 20px;
	}

	&-title {
		font-size: 1.5rem;
		font-weight: 500;
	}

	&-description {
		margin-top: 10px;
		font-size: 1rem;
	}

	&-price {
		margin-top: 10px;
		font-size: 1.5rem;
		font-weight: 500;
	}

	&-rating {
		align-self: self-start;
		margin-top: 20px;
		margin-left: 40px;
		font-size: medium;
		display: flex;
		gap: 5px;
	}

	&-rating-stars {
		color: $color-rating;
	}
}
.rating {
	width: 120px;
	height: 24px;
	position: relative;
	background-color: gray;
	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.rating .rating-bg {
	background-color: $color-rating;
	display: inline-block;
	height: 24px;
}

.slider {
	display: inline;
	overflow: hidden;
	&-slide {
		display: none;
		&-active {
			display: block;
		}
	}

	&-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		font-size: large;
		outline: none;
		border-radius: 10px;
		background: $color-background;

		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&-prev {
			background: $color-background;
			box-shadow:
				6px 6px 10px -1px $color-shade-1,
				-6px -6px 10px -1px $color-shade-2;
			&:active {
				background: linear-gradient(
					145deg,
					$color-background-shade-1,
					$color-background-shade-2
				);
				box-shadow:
					6px 6px 10px -1px $color-shade-1,
					-6px -6px 10px -1px $color-shade-2;
			}
		}
		&-next {
			background: $color-background;
			box-shadow:
				-6px 6px 10px -1px $color-shade-1,
				6px -6px 10px -1px $color-shade-2;
			&:active {
				background: linear-gradient(
					145deg,
					$color-background-shade-1,
					$color-background-shade-2
				);
				box-shadow:
					-6px 6px 10px -1px $color-shade-1,
					6px -6px 10px -1px $color-shade-2;
			}
		}
	}

	&-arrows {
		user-select: none;
		margin: auto;
		display: flex;
		justify-content: space-evenly;
		transform: translateY(-18rem);
	}

	&-dots {
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

	&-dot {
		-webkit-appearance: none;
		/* remove default */
		margin: 6px;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		cursor: pointer;
		vertical-align: middle;
		box-shadow:
			hsla(0, 0%, 100%, 0.15) 0 1px 1px,
			inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
		background-color: hsla(0, 0%, 0%, 0.2);
		background-repeat: no-repeat;
		-webkit-transition:
			background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
			-webkit-transform 0.25s cubic-bezier(0.8, 0, 1, 1);
		outline: none;
	}

	&-dot-green {
		background-image: -webkit-radial-gradient(
			hsla(118, 100%, 90%, 1) 0%,
			hsla(118, 100%, 70%, 1) 15%,
			hsla(118, 100%, 60%, 0.3) 28%,
			hsla(118, 100%, 30%, 0) 70%
		);
	}

	&-dot-yellow {
		background-image: -webkit-radial-gradient(
			hsla(50, 100%, 90%, 1) 0%,
			hsla(50, 100%, 70%, 1) 15%,
			hsla(50, 100%, 60%, 0.3) 28%,
			hsla(50, 100%, 30%, 0) 70%
		);
	}

	&-dot-red {
		background-image: -webkit-radial-gradient(
			hsla(0, 100%, 90%, 1) 0%,
			hsla(0, 100%, 70%, 1) 15%,
			hsla(0, 100%, 60%, 0.3) 28%,
			hsla(0, 100%, 30%, 0) 70%
		);
	}

	&-dot-blue {
		background-image: -webkit-radial-gradient(
			hsla(211, 100%, 90%, 1) 0%,
			hsla(211, 100%, 70%, 1) 15%,
			hsla(211, 100%, 60%, 0.3) 28%,
			hsla(211, 100%, 30%, 0) 70%
		);
	}

	&-dot:checked {
		-webkit-transition:
			background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
			-webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
	}

	&-dot:active {
		-webkit-transform: scale(1.5);
		-webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
	}

	/* The up/down direction logic */

	&-dot,
	&-dot:active {
		background-position: 24px 0;
	}

	&-dot:checked {
		background-position: 0 0;
	}

	&-dot:checked ~ &-dot,
	&-dot:checked ~ &-dot:active {
		background-position: -24px 0;
	}
}
